  /*padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    -webkit-user-select
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}*/

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #FF78C4;
  overflow: hidden;
  flex-direction: column;
}
.bg-img{
  display: none;
  height: 100%;
  width: 100%;
  background-image: url("R.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 20%;
  position: absolute;
}  
.container{
  height: 250px;
  width: 300px;
  background: white;
  border: 1px solid #FFECEC;
  box-shadow: 0 0 10px #FFECEC;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  animation: popup 0.1s linear;
}
@keyframes popup {
  50%{
    height: 200px;
    width: 350px;
  }
}
.love-icon{
  position: absolute;
  font-size: 50px;
  top: -10%;
  right: -5%;
  color: #E1AEFF;
/* animation: dhakdhak 0.4s linear infinite;
}
@keyframes dhakdhak{
  50%{
    font-size: 55px;
  }*/
}
.text{
  color: #FF78C4;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  text-shadow: 1px 1px 5px #E1AEFF;
  margin-top: -30px;
}
.ans-div{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20%;
}
.ans-btn{
  background: white;
  height: 40px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF78C4;
  box-shadow: 0 0 10px white;
  cursor: pointer;
  display: none;
}
.btn-div{
  height: 50px;
  bottom: 5%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;   
  cursor: pointer;
  box-shadow: 3px 3px 10px #E1AEFF;
  color: white;
  background: #ff78c4;  
  transition: 0.3s all;
}
.btn2{
  display: none;
}
.btn:hover{
  box-shadow: 1px 1px 5px #E1AEFF;
}
.propo{
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 100px;
  position: absolute;
  letter-spacing: 3px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  color: white;
  background: rgba(255, 120, 196, 0.7);
  padding: 200px;
}
.elements{
  height: 50px;
  width: 50px;
  position: absolute;
  animation: move 5s linear infinite;
  opacity: 0.3;
}
@keyframes move{
  50%{
    transform: translateX(50px)translateY(50px)rotateY(360deg);
}
}
.el1{  
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  left: 10%;
  animation-delay: 0.5s;
  top: 5%;
}
.el2{  
  background-image: url("F.jpeg")
  background-size: cover;
  background-position: center;
  top: 5%;
  animation-delay: 0.8s;
}
.el3{  
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  right: 10%;
  animation-delay: 1.1s;
  bottom: 13%;
}
.el4{  
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  left: 10%;
  animation-delay:1s;
  bottom: 10%;
}
.el6{  
  background-image: url("U.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  animation-delay:26s;
  bottom: 12%;
}
.el5{  
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  right: 10%;
  top: 10%;
  animation-delay: 1.6s;
}
@media screen and (max-width: 800px){
  body{
    min-height: 80vh;
  }
  .container{
    height: 220px;
    width: 90%;
  }
  .bg-img{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .propo{
  letter-spacing: 3px;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: white;
  background: rgba(255, 120, 196, 0.7);
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 350px;
  line-height: 30px;
  padding: 40px;
}
  }
  
