 /* Reset and base styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #FF78C4;
  overflow: hidden;
  flex-direction: column;
}

/* Background image */
.bg-img {
  display: none;
  height: 100%;
  width: 100%;
  background-image: url("R.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
}

/* Main container */
.container {
  height: 250px;
  width: 300px;
  background: white;
  border: 1px solid #FFECEC;
  box-shadow: 0 0 10px #FFECEC;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  animation: popup 0.1s linear;
}

@keyframes popup {
  50% {
    height: 200px;
    width: 350px;
  }
}

/* Heart icon */
.love-icon {
  position: absolute;
  font-size: 50px;
  top: -10%;
  right: -5%;
  color: #E1AEFF;
  /* animation: dhakdhak 0.4s linear infinite; */
}

/* Text message */
.text {
  color: #FF78C4;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  text-shadow: 1px 1px 5px #E1AEFF;
  margin-top: -30px;
}

/* Answer buttons */
.ans-div {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20%;
}

.ans-btn {
  background: white;
  height: 40px;
  width: 80px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #FF78C4;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

/* Button container */
.btn-div {
  height: 50px;
  bottom: 5%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 3px 10px #E1AEFF;
  color: white;
  background: #FF78C4;
  transition: 0.3s all;
}

.btn2 {
  display: none;
}

.btn:hover {
  box-shadow: 1px 1px 5px #E1AEFF;
}

/* Proposal section */
.propo {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 60px 40px;
  box-sizing: border-box;
  background: rgba(255, 120, 196, 0.75);
  color: white;
  font-size: 28px;
  line-height: 1.8;
  letter-spacing: 2px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

.propo p {
  max-width: 800px;
  margin: auto;
  white-space: pre-line;
}

/* Floating elements */
.elements {
  height: 50px;
  width: 50px;
  position: absolute;
  animation: move 5s linear infinite;
  opacity: 0.3;
}

@keyframes move {
  50% {
    transform: translateX(50px) translateY(50px) rotateY(360deg);
  }
}

.el1 {
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  left: 10%;
  top: 5%;
  animation-delay: 0.5s;
}

.el2 {
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  top: 5%;
  animation-delay: 0.8s;
}

.el3 {
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  right: 10%;
  bottom: 13%;
  animation-delay: 1.1s;
}

.el4 {
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  left: 10%;
  bottom: 10%;
  animation-delay: 1s;
}

.el5 {
  background-image: url("F.jpeg");
  background-size: cover;
  background-position: center;
  right: 10%;
  top: 10%;
  animation-delay: 1.6s;
}

.el6 {
  background-image: url("U.jpg");
  background-size: cover;
  background-position: center;
  left: 50%;
  bottom: 12%;
  animation-delay: 2.6s;
}

/* Responsive styles */
@media screen and (max-width: 800px) {
  body {
    min-height: 80vh;
  }

  .container {
    height: 220px;
    width: 90%;
  }

  .bg-img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .propo {
    font-size: 18px;
    line-height: 1.6;
    padding: 30px 20px;
    width: 90%;
    letter-spacing: 1px;
  }

  .propo p {
    max-width: 100%;
  }
}
